@model IEnumerable<MyIdentity.ViewModels.UserRole>

@{
    ViewBag.Title = "DeleteUserFromRole";
}

<h2>DeleteUserFromRole</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteUserFromRole", new { roleName = item.RoleName, userName = item.UserName })
        </td>
    </tr>
}

</table>
